
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200&display=swap');

body{
  /*font-family: 'Readex Pro', sans-serif;*/

}

html, body { height: 100%; }
body { margin: 0; font-family: 'Inconsolata', monospace;
  background: #d902ee;

}
